/* TODO: Make it awesome */
html {
  background-color: rgba(247, 222, 62, 0.551);
  color:block'
}
main {
  height: 600px;
}

h1 {
  font-size: 2rem;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  color:midnightblue;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline;
}

header {
  display: block;
  text-align: center;
  margin: auto;
}
nav{
  padding: 10px;
  font-size: 1.25rem;
  background-color: rgba(150, 202, 237, 0.762);
  border: 2px solid black;
  border-left: none;
  border-right: none;
  text-align: center;
}

ul {
  margin: auto;
  width:25%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#itemCount{
  margin-left: 0px;
  padding-left: 3px;
  padding-bottom: 8px;
  vertical-align: top;
  color: rgb(4, 4, 49);
  font-size: .9rem;
  width: 25px;
  height: 25px;
  color:blue;
}
a{
  text-decoration: none;
  font-family:'Gill Sans', sans-serif
}
a:hover {
  color:darkblue;
}
header li{
  padding: 10px;
}
img {
  width: 150px;
  height:150px;
  padding: 20px;
}


option {
  color:midnightblue;
  font-size: 1rem;
  background-color: bisque;
}


ol li{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color:rgb(4, 4, 49);
  font-size: 20px;
}
fieldset span{
  margin-right: 10px;
}
#catalog{
  background-color: floralwhite;
  font-family: 'Lucida Sans', sans-serif;
}
legend{
  font-size: 1.5rem;
  text-decoration: underline;
}
select{
  margin-right: 20px;
  width: 100px;
  background-color: bisque;
  color:midnightblue;
  font-size: 1rem;
}
select:hover {
  background-color: rgba(150, 202, 237, 0.762);
}
input:hover {
  background-color: rgba(150, 202, 237, 0.762);
}

input {
  background-color: bisque;
  font-size: 1rem;
  margin-right: 20px;
}

.copy li{
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top:10px;
  font-family:'Trebuchet MS', sans-serif;
}
#catalog {
  display: block;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid black;
}
legend{
  padding-bottom: 20px;
}

footer {
  display: block;
  text-align: center;
  margin: auto;
}

tr{
  display: flex;
  justify-content: space-between;
  margin-right: 25%;
  margin-left: 25%;
  border: 2px solid black;
}
th{
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lucida Sans',sans-serif;
  padding-bottom: 10px;
  margin-top: 10px;
}
td{
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', sans-serif;
  
}
table{ 
  width: 100%;
  position: absolute;
 }
#cart-container {
  text-align: center;
  width: auto;
}

/* CSS grid might be a better way to do the table, but I played with it for a while and couldn't figure out how to get it to work. The cart looks pretty good except the quantity data gets weird because of the different lengths of the names of the products. 
