/* TODO: Make it awesome */
html {
  background-color: bisque;
  color:block'
}
main {
  height: 600px;
}
h1 {
  font-size: 2rem;
}
header {
  display: block;
  text-align: center;
  margin: auto;
}
header li{
  padding: 10px;
}
#itemCount {
  color:black;
}
img {
  width: 100px;
  height:100px;
}
h1{
  padding: 20px;
}
nav{
  padding: 10px;
  border: 2px solid black;
}
p {

}
#itemCount{
  margin-top: 50px;
  display: block;
}
.copy li{
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top:10px;
}
#catalog {
  display: block;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid black;
}
legend{
  padding-bottom: 20px;
}

footer {
  display: block;
  text-align: center;
  margin: auto;
}

table{
  display: block;
  margin: auto;
  text-align: center;
  border: 3px solid darkgreen;
  padding: 10px;
  margin-bottom: 30px;
}
